/*
 * Base styles
 */

html,
body {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

body {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    line-height: 1.6;
    color: #403f3a;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #403f3a;
    margin: 0 auto 1em;
    padding: 0;
    max-width: 1em;
}


/*
 * Typography
 */

h1, .h1 {
    font-size: 1.75em;
    text-transform: uppercase;
    line-height: 1.1;
}

@media only screen and (min-width: 38em) {
    h1, .h1 { font-size: 2.10em; }
}

p {
    font-size: 1.125em;
    margin-top: 0;
}


/* 
 * Nav module
 */

.Nav {
    list-style: none;
    margin: 0;
    padding: 1em 0;
}

.Nav > li {
    width: 8em;
    display: inline-block;
    margin-left: 0.5em;
    vertical-align: middle;
    font-size: 0.875em;
    text-transform: uppercase;
}

.Nav > li:first-child {
    margin-left: 0;
}


/* 
 * Map module
 */

.Map {
    width: 100%;
    height: 15em;
}

.Map img {
    max-width: none;
}

@media only screen and (min-width: 38em) {
    .Map { height: 45em; }
}


/*
 * Site Header module
 */

.SiteHeader {
    margin-bottom: 4em;
    padding: 0 1.5em;
    text-align: center;
    background-color: #000;
    color: #fff;
}

.SiteHeader a {
    text-decoration: none;
    color: inherit;
}


/*
 * Site Footer module
 */

.SiteFooter {
    overflow: hidden;
    padding: 1.5em;
    background-color: #d2ccbc;
    color: #333;
}


/*
 * Content Module
 */

.Content {
    text-align: center;
    max-width: 48.750em;
    margin: 0 auto 5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}


/*
 * Grid
 */

.Grid {
    font-size: 0;
}

.Grid-cell {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    font-size: 16px;
    font-size: 1rem;
}

.Grid--gutters {
    margin-left: -60px;
    margin-left: -3.750rem;
}

.Grid--gutters > .Grid-cell {
    box-sizing: border-box;
    padding-left: 60px;
    padding-left: 3.750rem;
}
